* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.s-animation {
    display: grid;
    justify-items: center;
    align-items: center;
    overflow: hidden;
}
h1 {
    margin-top: 20px;
    text-align: center;
    color: #c63500;
    font-family: sans-serif;
}
.animation {
    position: relative;
    margin-top: 10px;
    border: 7px ridge #c63500;
}
.animation img {
    display: block;
    width: 100%;
    height: 100%;
}
#svg-animation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    opacity: 0;
    stroke: #fff;
    fill: rgba(0, 0, 0, 0.5);
    stroke-dasharray: 300;
}
.animation:hover #svg-animation  {
    opacity: 1;
    animation-name: svg-animation;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(.37, .15, .81, .41);
}
@keyframes svg-animation {
    0% {
        fill: none;
        stroke-dashoffset: 300;
    }
    100% {
        fill: rgba(0,0,0,0.5);
        stroke-dashoffset: 0;
    }
}

@media(max-width: 425px) {
    #svg-animation {
        width: 50%;
        height: auto;
    }
}

/** folow me on **/
.folow {
    margin-top: 20px;
    margin-bottom: 20px;
}
.folow a {
    color: #c63500;
    margin: 0 10px;
}
.folow a:hover {
    color: #000;
}